.ImgSpamExperts-panelIcon {
    background: url("zimlet_icon.gif") no-repeat 0 0;
    height: 16px;
    width: 16px;
}
.divspamexperts-settings {
}

.divspamexperts-settings span {
    display: inline-table;
    width: 150px;
}

.divspamexperts-settings input {
    width: 200px;
}

#spamexperts_iframe #header {
    display: none;
}